<% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.age %></td>
        <td class="text-center"><%= link_to 'Show', customer, class: 'btn btn-primary' %></td>
        <td class="text-center"><%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-info', remote: true %></td>
        <td class="text-center"><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>